*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #10cab7; 
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}
body{
    font-family: "Work-Sans , sans-serif";
}

html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
    .special-heading + p {
      margin-top: -20px;
    }
  }

  .header {
    padding: 20px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 100px;
    

  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #dddada transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul {
    display: block;
  }
  .header .links ul li a {
    display: block;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    color: rgb(34, 31, 31);
    transition: var(--main-duration);
  }
  .header .links ul li a:hover {
    padding-left: 30px;
  }

  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }
  .landing {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
  }
  .landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
  }
  .landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
  }
  .features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }


  .features   .container   .feat .fa.fa-heart
   {
    margin-top: -10px;
  }
  .features .feat
   {
  
    padding: 20px;
    text-align: center;
  }
  .features .feat i {
    color: var(--main-color);
  }
  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }
  .features .feat p {
    line-height: 1.8;
    color: rgb(156, 151, 151);
    font-size: 17px;
  }
  .special-heading{
    color: #d8d8d8;
    font-size:80px ;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3;
    margin: 0%;

  }
  .special-heading +p {
        margin: -25px  0 0 ;
        font-size: 20px;
        text-align: center;
        color:#797979;
        
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
    }
    .special-heading + p {
      margin-top: -15px;
    }
  }
 .services{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background) ;                            
  
 }

 .services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
  margin-top: 100px;
  margin-left: 40px;


}

.services .services-content .serv {
  display: grid;
  margin-bottom: 40px;
  background-color: var(--section-background);
}
@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .serv .text {
  flex: 1;
}
.services .services-content .serv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .serv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
   
}
.services .services-content   .image.image-column::before {
  content: "";
  background-color:  var(--main-color)       ;
  
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: -60px;
  
  
}
.services .services-content .image img {
  width:240px;
  margin-right: -10px;
  background-color: var(--section-background);
  margin-bottom: 20px;
  
   
}

.col .im   {
  background-color: var(--section-background);
  width:100%;
  height: 330px ;
  margin-top: -10px;
}

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ecececd3;
  width: 100px;
  height: calc(100% + 50px);
  top: -25px;
  bottom:20px ;
  left: -20px;
  z-index: 1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 100px;
  height:300px;
  z-index:1;
  border-left: 80px solid   var(--main-color);
  border-bottom: 80px solid var(--main-color);
  right:-100px;

}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  margin-left: 50px;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
  color: var(--main-color);
  letter-spacing:1px;
  margin-bottom: 20px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

.footer span {
  font-weight: bold;
  color: var(--main-color);
}

   

















